//create variables
$dark: #2f5d85;
$light: #4c96d7;
$text: #3a3a3a;
$accent: #a6cbeb;

#form-title {
    grid-area: 1/1/2/5;
    margin-left: 1em;
}

.form-container {
    grid-area: 2/1/3/5;
	margin-bottom: 2em;	
}

form {
	max-width:80%;
	margin: auto;
	padding:2em;
	background:#fff;
	border-radius:0.25em;
	box-shadow:0 0 2em rgba(0,0,0,0.2)
}

input, select {
	width: 95%;
	padding:0.5em;
	font-size:0.875em;
	font-family:inherit;
	background:#f4f4f4;
	border:1px solid #ccc;
	border-width:1px 1px 1px 0;
	border-radius:0;
	-webkit-appearance:textfield;
	-moz-appearance:textfield;
	appearance:textfield;
	transition:0.3s;
}

input:focus,
select:focus {
	background:#fff;
	box-shadow:inset 0.1em 0.1em 0.25em $accent;
	outline:0;
}

.form-field {
	margin-bottom:1em;
}

.form-field label {
	width: 10em;
	margin-bottom: .3em;
	display: block;
	padding:1em;
	background: $dark;
	border:1px solid $light;
    color: #fff;
	font-size:0.75em;
	text-align:center;
	line-height:1;
	border-radius:0.25em 0 0 0.25em;
}

.form-field input,
.form-field select {
	width: 95%;
}

.input-right input,
.input-right select,
.multi-input input:last-child,
.multi-input select:last-child {
 	border-radius:0 0.25em 0.25em 0;
}

.submit-field {
	flex-direction:row-reverse;
}

input[type="submit"] {
	flex:0 1 20%;
	padding:0.5em;
	font-size:1rem;
	font-family:inherit;
	text-shadow: 0 1px 0 #fff;
	background: $accent;
	border-radius:0.25em;
	border:0;
	transition:0.3s;
	cursor:pointer;
	width: 20em;
}

input[type="submit"]:hover {
	color:#fff;
	background: $light;
	text-shadow:0 1px 0 #000;
}

input[type="select"] {
	max-width: 75%;
}

textarea {
	width: 95%;
}

input:required {
	background-color: rgb(247, 247, 179);
}

input:required:valid {
	background-color: rgb(179, 247, 181);
}

.button {
	display: block;
	max-width: fit-content;
	text-align: center;
	background-color: $accent;
	margin: 0px auto 2em auto;
	padding: 1rem;
	border-radius: .5em;
}

.button a {
	text-decoration: none;
	color: black;
	font-size: .7em;
}

#password {
	display: none;
	color: white;
}

#password.expanded {
	animation: colorChange 1s ease-in-out 1;
	display: block;
	color: red;
}

@keyframes colorChange {
	from {color: white;}
	to {color: red;}
}